/* Import fonts from google fonts */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');

:root{
    --light-gray: #2b3032a1;
    --primary-color: #13192c;
    --border: #2b303218;
    --text-color: #ff686b;
    --bold: "Bold", cursive;
    --medium: "Medium", cursive;
    --light: "Light", cursive;
}

.primary-color{
    color: var(--primary-color);
}

.bg-primary-color{
    background-color: var(--primary-color) !important;
}

.text-color{
    color: var(--text-color);
}

.font-bold{
    font-family: var(--bold);
}

.lightblue{
    color:lightblue;
}

/* Header */
header {
    background-color: var(--primary-color);
    font-family: var(--bold);
}

header .site-title {
    font-family: var(--medium);
}

.container .dropdown-toggle,
.container .dropdown-item {
    font-size: 0.7em;
}

header-links a{
    font-size: 0.9em;
    text-decoration: none;
    color: white;
}

/** Navigation Menu **/

.navbar-nav{
    padding: 0.8em 0em;
}

.navbar-nav .nav-link{
    font-size: 0.9em;
    color: var(--light-gray) !important;
}

.nacbar-nav .nav-item .nav-link{
    padding: 0 1.3em;
}

.navbar-nav .basket-icon{
    margin-right: 6.5rem !important;
}

/* Slider One */

.site-slider{
    position: relative;
}

.position-top{
    position: absolute;
    top: 50%;
}

.site-slider .slider-btn .prev,
.site-slider .slider-btn .next{
    background-color: var(--primary-color);
    padding: 1rem 1.5rem;
    border-radius: 10rem;
    color: white;
    margin: 0 1rem;
}

.right-0{
    right: 0;
}